<mat-card>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>Brun Aldo</mat-card-title>
    <mat-card-subtitle>brunaldo1991@gmail.com</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../assets/img/era_corapes.jpg">
  <mat-card-content><p>Hi, I'm a software developer</p></mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary">LIKE</button>
    <button mat-button color="primary">DELETE</button>
    <div class="flex-spacer"></div>
    <button mat-icon-button><mat-icon>publish</mat-icon></button>
  </mat-card-actions>
</mat-card>
